<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951702889970-m9djacor1prt3htqpo679ipa390emjvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951702889970-m9djacor1prt3htqpo679ipa390emjvt</string>
	<key>API_KEY</key>
	<string>AIzaSyBmUl68uXy-wc4ejIgIJbpakmFogm_pzdE</string>
	<key>GCM_SENDER_ID</key>
	<string>951702889970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacasa.EduCare</string>
	<key>PROJECT_ID</key>
	<string>educare-de5dd</string>
	<key>STORAGE_BUCKET</key>
	<string>educare-de5dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951702889970:ios:1860e0ddd8dbb946</string>
	<key>DATABASE_URL</key>
	<string>https://educare-de5dd.firebaseio.com</string>
</dict>
</plist>